<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Design</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/details.css" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">Projects WH</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

<ul class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
        <li><p class="navbar-text">Hola,<%= link_to current_user.email , edit_user_registration_path, :class => 'navbar-link' %> </p></li>
        <li><p><img src="img/profile.png" alt="Foto de Perfil" class="img-circle img-responsive"></p></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>

<% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
          <li> <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>

<% end %>
         </ul>
        <ul class="nav navbar-nav navbar-right login">  
          
        </ul>
                
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<div class="container">
  <%= yield %>
</div>
<footer class="footer">
      <div class="container">
         <ul>
          <li><a href="#" target="_self">Home</a></li>
          <li><a href="#" target="_self">About</a></li>
          <li><a href="#" target="_self">Contáctenos</a></li>
        </ul>
        <p>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
        <p>&copy; 2015 No Name. All Rights Reserved.</p>
      </div>
    </footer>
</body>
</html>
